@import "compass/reset";

$headerHeight: 1.5em;;

$waterFill: #2C365E;
$cityFill: #484D6D;
$otherLandFill: #2B193D;
$accent: #4B8F8C;
$accent2: #C5979D;

body {
    font-family: sans-serif;
    text-align: center;
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.25);
        color: white;
        height: $headerHeight;
        line-height: $headerHeight;
        h1 {
            margin: 0 5px 0 20px;
            float: left;
            font-weight: 100;
        }
        h2 {
            margin: 0px;
            float: left;
            font-style: italic;
            font-weight: 100;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .loading {
        margin-top: 100px;
        font-size: 1.5em;
        .label {
            font-style: italic;
        }
        .dot {
            animation: fadein linear 1s infinite alternate;
            -webkit-animation: fadein linear 1s infinite alternate;
        }
        .delay-1 {
            animation-delay: 0.6s;
            -webkit-animation-delay: 0.6s;
        }
        .delay-2 {
            animation-delay: 0.6s;
            -webkit-animation-delay: 0.6s;
        }
    }
    .error {
        color: red;
        margin-top: 100px;
    }
    .hidden {
        display: none;
    }
    .attr {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        font-size: 0.5em;
        height: 1em;
        line-height: 1em;
        background: black;
        color: white;
        padding: 1px 0 0 2px;
    }
    .tooltip {
	pointer-events: none;
        position:absolute;
        top: -300px;
        left: -300px;
        min-width: 200px;
        max-width: 400px;
        min-height: 100px;
        max-height: 300px;
        background: rgba(44,54,94,0.5);
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 3px;
        text-align: left;
        color: white;
        padding: 10px;
        transition: opacity 0.2s;
        opacity: 1;
        h1 {
            font-size:1.2em;
            line-height:1.5em;
            font-weight: 100;
            height: 1.5em;
            overflow: hidden;
        }
        .food-type {
            font-size:0.8em;
            line-height: 1.2em;
        }
        .addr {
            margin-top: 0.5em;
        }
        &.fadeout {
            opacity: 0;
        }
    }
    svg {
        display: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        fill: black;
        background: $waterFill;
        .geounit {
            &.san-francisco {
                fill: $cityFill;
                stroke: rgba(255,255,255,0.5);
                stroke-width: 1px;
            }
            &.other {
                fill: $otherLandFill;
            }
        }
        .street {
            stroke: white;
            fill: none;
            opacity: 0.25;
            &.hwy-1-northbound,
            &.hwy-1-southbound,
            &.hwy-101-northbound,
            &.hwy-101-southbound,
            &.market-st,
            &.fulton-st,
            &.van-ness-ave,
            &.masonic-ave,
            &.geary-blvd,
            &.lincoln-way,
            &.great-hwy,
            &.skyline-blvd,
            &.i-280-southbound,
            &.i-280-northbound,
            &.i-80-westbound,
            &.i-80-eastbound,
            &.oak-st,
            &.fell-st,
            &.the-embarcadero,
            &.sunset-blvd,
            &.park-presidio-blvd,
            &.num-19th-ave {
                stroke: $accent;
                opacity: 1;
            }
        }
        .permit {
            fill: white;
            opacity: 0.5;
        }
    }
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
